[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Bip001
Pelvis
Bn_Tail_00
Bn_Tail_01
Bn_Tail_02
thigh_l
calf_l
Bip001-L-HorseLink
foot_l
ball_l
thigh_r
calf_r
Bip001-R-HorseLink
foot_r
ball_r
SpineSpliter
spine_01
spine_02
neck_01
Bn
head
Bn_Mouth
Fx_Top
Bounce-bone_00
clavicle_l
upperarm_l
lowerarm_l
hand_l
thumb_01_l
index_01_l
clavicle_r
upperarm_r
lowerarm_r
hand_r
thumb_01_r
index_01_r
Bip001-Prop1
Bounce-bone_01
Fx_Bottom
Fx_Ground
Fx_Name
